{% extends 'layout.html' %}

{% block page_title %}BOOK LIST{% endblock %}

{% block content %}
<div class="d-flex justify-content-center gap-2 mb-3">
    {% set statuses = ['all', 'Reading', 'Completed', 'Plan to Read', 'Dropped', 'On Hold'] %}
    {% for s in statuses %}
        <a href="{{ url_for('book_list', status=s, order_by=request.args.get('order_by', 'title'), order_dir=request.args.get('order_dir', 'desc')) }}"
           class="btn {% if status == s %}btn-primary{% else %}btn-outline-primary{% endif %}">
           {{ s }}
        </a>
    {% endfor %}
</div>
<div class="mx-auto mt-4" style="width: 75%;">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th><a href="{{ url_for('book_list', order_by='title', order_dir='desc' if request.args.get('order_dir')=='asc' else 'asc', status=status) }}">Title</a></th>
                <th>Status</th>
                <th><a href="{{ url_for('book_list', order_by='score', order_dir='desc' if request.args.get('order_dir')=='asc' else 'asc', status=status) }}">Score</a></th>
                <th>Memo</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in user_book_list %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ url_for('book', book_id=entry.book_id) }}">{{ entry.title }}</a></td>
                <td>{{ entry.status }}</td>
                <td>{{ '' if entry.score == 'Select' else entry.score }}</td>
                <td style="max-width: 300px; white-space: normal; word-wrap: break-word;">{{ entry.memo if entry.memo else '' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}