{% extends 'layout.html' %}

{% block page_title %}BOOKS{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row mx-auto" style="width: 80%; justify-content: center;">
        {% for book in books %}
        <div class="col-md-4 mb-3">
            <a href="{{ url_for('book', book_id=book[0]) }}" class="text-decoration-none text-dark">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Genres:</h6>
                        <ul>
                            {% for genre in book.genres %}
                                <li>{{ genre }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}